extends layout 

block navHeader 
    include includes/navHeader.pug

block content 
    div(class='header')
        h3 Mad-Libs Online
    div(id="create-form" class="create-form")
        form(action='/update' method='post' id="editUser")
            p Username:
                br
                input(type="text" name='username' value=User.UserName)
            p New Password:
                br
                input(type="password" name='password') 
            p Confirm Password:
                br
                input(type="password" name='confPass')
            p Bio 
                br
                textarea(rows='5' cols='24' form="editUser" maxLength="300" name="bio" value=User.Description) #{User.Description}
            label(for='pfp') Profile Picture Selection
                select(name='pfp' class='pfp')
                    option(selected=User.pfp) #{User.pfp}
                    option(value="1") 1
                    option(value="2") 2
                    option(value="3") 3
                    option(value="4") 4
                    option(value="5") 5
                    option(value="6") 6
                    option(value="7") 7
                br
                br

            input(class='login-btns' type="submit" value='Update Account')
