extends layout 

block navHeader 
    include includes/navHeader.pug

block content 
    div(id='profile-header' class='header')
        h2=User.UserName
        h4="'s Profile"
        img(src="/images/profile_pictures/"+User.pfp+".png", alt=User.pfp id='profile-image')
    if (profile == User.UserName)
        div(class='edit-profile-btn')
            form(method='GET', action='/edit')
                input(class='profile-button' id='edit-profile' type='submit' value='Edit Profile')
    div(class='instructions')
            p= User.Description
    div(class='content')
        h2='Made Libs'
        table(class='profile-table')
            if (MadeLibs.length > 0)
                thead 
                    tr
                        th Name 
                        th Creator
                tbody 
                    each item in MadeLibs 
                        tr 
                            td 
                                a(class="nostyle" href='/play/'+item._id)  
                                    div(class='menu_item2') #{item.Title}
                            td 
                                a(class="nostyle" href='/profile/'+item.Creator) 
                                    div(class='menu_item2') #{item.Creator}
            else
                thead 
                    tr 
                        th We didn't find any Libs here, sorry!
    div(class='content')
        h2='Saved Libs'
        table(class='profile-table')
            if (SavedLibs.length > 0)
                thead 
                    tr
                        th Original
                        th Author
                        th Player
                        th
                        if (profile == User.UserName)
                            th X
                tbody 
                    each item in SavedLibs 
                        tr 
                            td 
                                a(class="nostyle" href='/play/'+item.Details.id)    
                                    div(class='menu_item2') #{item.Details.title}
                            td 
                                a(class="nostyle" href='/profile/'+item.Details.creator) 
                                    div(class='menu_item2') #{item.Details.creator}   
                            td 
                                a(class="nostyle" href='/profile/'+item.Player) 
                                    div(class='menu_item2') #{item.Player}   
                            td 
                                a(class="nostyle" href='/view/'+item._id)   
                                    div(class='menu_item2')="Mad-Lib!"
                            if (profile == User.UserName)
                                td 
                                    a(class="nostyle" href='/delete/'+item._id)
                                        div(class='menu_item2')="Delete"   
            else
                thead 
                    tr 
                        th We didn't find any Libs here, sorry!
