extends layout 

block navHeader 
    include includes/navHeader.pug

block content
    div(class='finished-details')
        h2=details.title 
        h4="By " 
            a(href='/profile/'+details.creator)=details.creator
        h4=" and You!"
        div(class='report-button')="Report"
    div(class='finished-lib')
        h2=content.madlib
        div(class="nav-options")  
            form(action="", method="post") 
                input(type="hidden", name="details" value=details)
                input(type="hidden", name="content" value=content.madlib)
                a(class="nostyle" href="/save")
                    div(class='menu_item')="Save Lib"
            a(class="nostyle" href="/play")
                div(class='menu_item' )="New Lib!"
